@import "tailwindcss";

:root {
  --primary: #0090ff;
  --primary-light: #2ca4ff;
}

@theme {
  --font-sans: var(--font-dm-sans);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
}
